<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">FACULTY PORTAL</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/studentdetails">STUDENT DETAILS</a></li>
      <li><a href="#">ADD NEW STUDENT</a></li>
      <li><a href="/update">UPDATE</a></li>
      <li><a  class="btn" href="{{url_for('home')}}">LOGOUT</a></li>
      </ul>
    <form class="navbar-form navbar-left" action="/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="enter the student" name="roll">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
   
  </div>
</nav>

<div class="container">
    {% if search %}
          <tr>
            <td>{{search.ROLL_NO}}</td>
            <td>{{search.NAME}}</td>
            <td><a href="/edit/{{search.ROLL_NO}}"><button class="btn btn-primary">Edit </button> </a></td>
        </tr>
        {% endif %}
          
</div>

</body>
</html>
