<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>scholarshipview</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <style>
 
  </style>
  </head>
  <body>
    <div class="main" style="display:flex;  align-items: center;">
    <button type="button" onclick="printContent()" class="btn btn-primary">
      Print
      </button>
      <div class="header">
    <h1 style="margin-left:370px; color:cornflowerblue">ELIGIBLE STUDENTS DETAILS</h1>
      </div>
    </div>
    <div id="print-content">
      <h3 style="text-align:center">{{type}}</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">APPL_NO</th>
          <th scope="col">ROLL NUMBER</th>
          <th scope="col">STUDENT NAME</th>
          <th scope="col">YEAR</th>
          <th scope="col">GENDER</th>
          <th scope="col">BRANCH</th>
          <th scope="col">EMAIL</th>
          <th scope="col">MOBILE</th>
          <th scope="col">ADDRESS</th>
          <th scope="col">FATHER_MOBILE</th>
          <th scope="col">MORE_DETAILS</th>
    
        </tr>
      </thead>
      <tbody>
      {% for post in post %}
        <tr>
          <td>{{post.APPL_NO}}</td>
          <td>{{post.ROLL_NO}}</td>
          <td>{{post.NAME}}</td>
          <td>{{post.YEAR}}</td>
          <td>{{post.GENDER}}</td>
          <td>{{post.BRANCH}}</td>
          <td>{{post.E_MAIL}}</td>
          <td>{{post.MOBILE}}</td>
          <td>{{post.DISTRICT_1}}</td>
          <td>{{post.FATHER_MOBILE}}</td>
          <td><a href="/morestudentdetails/{{post.ROLL_NO}}"><button class="btn btn-primary">Read More</button> </a></td>
           
        </tr>
    {% endfor %}
      
      </tbody>
    </table>
  </div>
    <script>
      function printContent() {
        var printContents = document.getElementById("print-content").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
      }
    </script>
  </body>
  </html>