<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
    <style>
      body{
         margin-top:20px;
         color: #1a202c;
         text-align: left;
         background-color: #e2e8f0;    
     }
     .main-body {
         padding: 15px;
     }
     .card {
         box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
     }
     
     .card {
         position: relative;
         display: flex;
         flex-direction: column;
         min-width: 0;
         word-wrap: break-word;
         background-color: #fff;
         background-clip: border-box;
         border: 0 solid rgba(0,0,0,.125);
         border-radius: .25rem;
     }
     
     .card-body {
         flex: 1 1 auto;
         min-height: 1px;
         padding: 1rem;
     }
     
     .gutters-sm {
         margin-right: -8px;
         margin-left: -8px;
     }
     
     .gutters-sm>.col, .gutters-sm>[class*=col-] {
         padding-right: 8px;
         padding-left: 8px;
     }
     .mb-3, .my-3 {
         margin-bottom: 1rem!important;
     }
     
     .bg-gray-300 {
         background-color: #e2e8f0;
     }
     .h-100 {
         height: 100%!important;
     }
     .shadow-none {
         box-shadow: none!important;
     }
     
   </style>
</head>

<body>
    <div class="container">
    <div class="main-body">
   {% if query %}
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{query.NAME}}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Application Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.APPL_NO}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Register Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{query.ROLL_NO}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Community</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{query.COMMUNITY}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.GENDER}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Degree</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{query.DEGREE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">DOB</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{query.DOB_YYYY_MM_DD}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Branch</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{query.BRANCH}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Type</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{query.TYPE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Community</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{query.COMMUNITY}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.E_MAIL}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.MOBILE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    {{query.ADDRESS}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">District</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.DISTRICT}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">State</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.STATE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Pincode</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.PINCODE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">State</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.STATE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">IDType</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.ID_TYPE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Counciling Cutoff</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.COUNCILING_CUTOFF }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Counceling Rank</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.COUNCELING_RANK }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">IDType</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.ID_TYPE}}
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
             <h1>Schools</h1>
              <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">10th Registration Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.Column_10TH_REGISTER_NO }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">10th Mark</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.Column_10TH_MARK }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Percentage</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.Column_10TH_OVERALLPERCENTAGE }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">12th Registration Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.Column_12TH_REGISTER_NO }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">12th Mark</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.Column_12TH_MARK  }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">12th Percentage</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.Column_12TH_OVERALLPERCENTAGE }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Board Of Exam</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.BOARD_OF_EXAM }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">School Under</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.SCHOOL_UNDER }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">School Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.SCHOOL_NAME }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Medium</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{query.MEDIUM}}

                    </div>
                  </div>
                  <hr>
                  </div>
                  </div>
              </div>
    {% endif %}
              </div>



            </div>
          </div>

        </div>
    </div>
</body>
</html>