<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
}


.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
  border: solid black 1px ;
  border-radius: 5npx;
  line-height: 20px;

}
</style>
</head>
<body>
    <!-- Student Profile -->
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
     
      </div>
      {% if query %}
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1 title"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">name</th>
                <td width="2%">:</td>
                <td>{{query.NAME}}</td>
              </tr>
              <tr>
                <th width="30%">Academic Year	</th>
                <td width="2%">:</td>
                <td>{{currentyear}}</td>
              </tr>
              <tr>
                <th width="30%">department</th>
                <td width="2%">:</td>
                <td>{{query.BRANCH}}</td>
              </tr>
              <tr>
                <th width="30%">year</th>
                <td width="2%">:</td>
                <td>{{query.YEAR}}</td>
              </tr>
              <tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
                <td>{{query.GENDER}}</td>
              </tr>  
            </table>
          </div>
        </div>
      </div>




      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1 title"></i>Arrear Status</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%"> NO_OF_ARREARS </th>
                <td width="2%">:</td>
                <td>{{query.NO_OF_ARREARS}}</td>
              </tr>           
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1 title"></i>Placement Status</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">  PLACEMENT_STATUS </th>
                <td width="2%">:</td>
                <td>{{query.PLACEMENT_STATUS}}</td>
              </tr>           
            </table>
          </div>
        </div>
      </div>

      
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1 title"></i>Community status</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">RELIGION</th>
                <td width="2%">:</td>
                <td>{{query.RELIGION}}</td>
              </tr>
              <tr>
                <th width="30%">COMMUNITY</th>
                <td width="2%">:</td>
                <td>{{query.COMMUNITY}}</td>
              </tr>
              <tr>
                <th width="30%">SUB_CASTE</th>
                <td width="2%">:</td>
                <td>{{query.SUB_CASTE}}</td>
              </tr>
              
                
            </table>
          </div>
        </div>
      </div>



      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1 title"></i>School Details</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">10TH_REGISTER_NO</th>
                <td width="2%">:</td>
                <td>{{query.Column_10TH_REGISTER_NO}}</td>
              </tr>
              <tr>
                <th width="30%">10TH_MARK</th>
                <td width="2%">:</td>
                <td>{{query.Column_10TH_MARK}}</td>
              </tr>
              <tr>
                <th width="30%">10TH_OVERALLPERCENTAGE</th>
                <td width="2%">:</td>
                <td>{{query.Column_10TH_OVERALLPERCENTAGE}}</td>
              </tr>
              <tr>
                <th width="30%">12TH_REGISTER_NO</th>
                <td width="2%">:</td>
                <td>{{query.Column_12TH_REGISTER_NO}}</td>
              </tr>
              <tr>
                <th width="30%">12TH_MARK</th>
                <td width="2%">:</td>
                <td>{{query.Column_12TH_MARK}}</td>
              </tr>
              <tr>
                <th width="30%">12TH_OVERALLPERCENTAGE</th>
                <td width="2%">:</td>
                <td>{{query.Column_12TH_OVERALLPERCENTAGE}}</td>
              </tr>     
            </table>
          </div>
        </div>
      </div>



      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1 title"></i>Counselling Details</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">COUNCILING_CUTOFF </th>
                <td width="2%">:</td>
                <td>{{query.COUNCILING_CUTOFF}}</td>
              </tr>
              <tr>
                <th width="30%">COUNCELING_RANK</th>
                <td width="2%">:</td>
                <td>{{query.COUNCELING_RANK}}</td>
              </tr>            
            </table>
          </div>
        </div>
      </div>




      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1 title"></i>Family Details</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">FATHER_NAME</th>
                <td width="2%">:</td>
                <td>{{query.FATHER_NAME}}</td>
              </tr>
              <tr>
                <th width="30%">FATHER_OCCUPATION </th>
                <td width="2%">:</td>
                <td>{{query.FATHER_OCCUPATION}}</td>
              </tr>            
              <tr>
                <th width="30%">    FATHER_MOBILE </th>
                <td width="2%">:</td>
                <td>{{query.FATHER_MOBILE}}</td>
              </tr>            
              <tr>
                <th width="30%">FATHER_MAIL </th>
                <td width="2%">:</td>
                <td>{{query.FATHER_MAIL}}</td>
              </tr>            
              <tr>
                <th width="30%">MOTHER_NAME </th>
                <td width="2%">:</td>
                <td>{{query.MOTHER_NAME}}</td>
              </tr>            
              <tr>
                <th width="30%">MOTHER_OCCUPATION </th>
                <td width="2%">:</td>
                <td>{{query.MOTHER_OCCUPATION}}</td>
              </tr>            
              <tr>
                <th width="30%"> MOTHER_MOBILE </th>
                <td width="2%">:</td>
                <td>{{query.MOTHER_MOBILE}}</td>
              </tr>            
              <tr>
                <th width="30%">MOTHER_MAIL </th>
                <td width="2%">:</td>
                <td>{{query.MOTHER_MAIL}}</td>
              </tr>            
            </table>
          </div>
        </div>
      </div>



    
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Residental Details</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">PERMENANT_ADDRESS_1</th>
                <td width="2%">:</td>
                <td>{{query.PERMENANT_ADDRESS_1}}</td>
              </tr>
              <tr>
                <th width="30%">   DISTRICT </th>
                <td width="2%">:</td>
                <td>{{query.DISTRICT_1}}</td>
              </tr>            
              <tr>
                <th width="30%">  STATE </th>
                <td width="2%">:</td>
                <td>{{query.STATE_1}}</td>
              </tr>            
              <tr>
                <th width="30%">PINCODE </th>
                <td width="2%">:</td>
                <td>{{query.PINCODE}}</td>
              </tr>                       
            </table>
          </div>
        </div>
      </div>
{% endif %}



      





    </div>
  </div>
</div>

</body>
</html>