<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>studentdetails</title>
  </head>
  <body>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">S_ID</th>
            <th scope="col">ROLL NUMBER</th>
            <th scope="col">STUDENT NAME</th>
            <th scope="col">SEM</th>
            <th scope="col">GENDER</th>
            <th scope="col">BRANCH</th>
            <th scope="col">EMAIL</th>
            <th scope="col">NUMBER</th>
            <th scope="col">ADDRESS</th>
      
          </tr>
        </thead>
        <tbody>
        {% for post in query %}
          <tr>
            <td>{{post.APPL_NO}}</td>
            <td>{{post.NAME}}</td>
            <td>{{post.sem}}</td>
            <td>{{post.gender}}</td>
            <td>{{post.branch}}</td>
            <td>{{post.email}}</td>
            <td>{{post.number}}</td>
            <td>{{post.address}}</td>
          </tr>
      {% endfor %}
        
        </tbody>
      </table>
  </body>
  </html>